<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">

<div class="image">
  <div class="title">福岡のすゝめ</div>
</div>


<div class="iabout">
  <div class="iab1">
    ～福岡のすゝめとは～
  </div>

  <div class="iab2">
    福岡をまだ詳しく知らない人におすすめの場所や食べ物を紹介するサイト 
  </div>

  <div class="iab3">
    特に観光客が多い福岡市周辺で、ターゲット層を１０代２０代に絞りました。
  </div>
</div>

<div class="inew">
  投稿一覧
</div>

<div class="isearch">
  <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
    <%= select_tag :search, 
    options_for_select([["観光スポット", "観光スポット"], 
    ["グルメ", "グルメ"]]), include_blank: "選択して下さい" %>
    <%= submit_tag '検索する' %>
  <% end %>
</div>

<div class="container">
  <% @posts.each_with_index do |t, i| %>
    <% if i % 3 == 0 %>
      <div class="icontent-border"></div>
  <% end %>

  <div class="icontent">
    <div class="main-box">
      <div class="yusuke">
        <%= link_to post_path(t.id) do %>
         <%= image_tag t.image_url, class: "iimage" if t.image? %>
        <% end %>
      </div>

      <div class="youchan">
        <%= image_tag t.user.image_url, size: "250x200" if t.user.image? %>
        <%= t.user.name %><br>
        <%= t.name %><br>

        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>

        <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <%= link_to"詳細", post_path(t.id) %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="image2">
  </div>
</div>

<div id="page_top"><a href="#"></a></div>





